.Courses-show>.Containers{
    position: static;
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}
.Container-1{
    background-color: rgb(255, 255, 255);
    height: 330px;
    width: 300px;
    box-shadow: 5px 5px 60px 5px rgba(136, 136, 136, 0.185);
    margin-top: 20px;
    border-radius: 20px;
}
.Container-1>.Box>img{
    width: 100%;
    margin: auto;
    border-radius: 20px;
}
.Container-1>.Box>.Head{
    font-size: 26px;
    text-align: center;
    padding-top: 20px;
}
.Container-1>.Box>.C-btn{
    padding: 10px;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 20px;
    background-color: white;
    font-size: 18px;
    text-align: center;
    margin:20px auto 0px auto;
    display: block;
}
.Container-1>.Box>.C-btn:hover{
    padding: 10px;
    border: 2px solid rgba(255, 168, 55, 0.945);;
    border-radius: 20px;
    background-color: rgba(255, 168, 55, 0.945);
    font-size: 18px;
    text-align: center;
    margin:20px auto 0px auto;
    display: block;
}